WuQiang.SOA.WebserviceTest/Service References/MyWebWCF/MyWCF1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WuQiang.WebSevice.Web.Remote" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WuQiang.WebSevice.Web.Remote" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfWebServiceUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="WebServiceUser" nillable="true" type="tns:WebServiceUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfWebServiceUser" nillable="true" type="tns:ArrayOfWebServiceUser" />
  <xs:complexType name="WebServiceUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Age" type="xs:int" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WebServiceUser" nillable="true" type="tns:WebServiceUser" />
</xs:schema>