WuQiang.SOA.WebserviceTest/Service References/MyWebWCF/MyWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:50714/Remote/WCFDome/MyWCF.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WuQiang.WebSevice.Web.Remote" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContent">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetContentResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserList">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WuQiang.WebSevice.Web.Remote" minOccurs="0" name="GetUserListResult" nillable="true" type="q1:ArrayOfWebServiceUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>